<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<context:annotation-config />   

	<context:component-scan
		base-package="com.breezer.speakingnote.repository, com.breezer.speakingnote.service, com.breezer.speakingnote.exception">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Component" />
	</context:component-scan>


	<!-- 요기 아래 3개는 오라클 테스트할때 사용함 -->
	<!-- oracle datasource -->
	<!-- <bean id="oracleDatasource" class="oracle.jdbc.pool.OracleDataSource"
		destroy-method="close">
		<property name="URL" value="jdbc:oracle:thin:@192.168.1.100:1521:xe" />
		<property name="user" value="sbms" />
		<property name="password" value="sbms" />
		<property name="connectionCachingEnabled" value="true" />
		<qualifier value="main-db" />
	</bean>
 	-->
 	

	<!-- for mysql  -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/speakingnote" />
		<!-- <property name="url" value="jdbc:mysql://127.0.0.1:3306/breezer_test" /> -->
		<property name="username" value="breezer" />
		<property name="password" value="qwe123!" />
		
		<!-- mysql 8시간 응답 없을시 자동 종료 방지를 위한 설정 -->
		<property name="validationQuery" value="select 1" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/configuration.xml" />
		<property name="mapperLocations" value="classpath:mybatis/mappers/*.xml" />
	</bean> 
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>


</beans>
